
<tr>
  <td>
    <%= event_data.keys.first.split('/').last %>
  </td>
  <td>
    <%= jwe_data['jti']%>
    <form action="/ack-event" method="post">
      <input type="hidden" name="jti" value="<%= jwe_data['jti'] %>">
      <button type="submit" class="usa-button usa-button--secondary">
        <%== csrf_tag %>
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
          <use xlink:href="/vendor/uswds/img/sprite.svg#delete"></use>
        </svg>
        Delete Event
      </button>
    </form>
  </td>
  <td>
    <%= Time.at(jwe_data['iat']) %>
  </td>
  <td>
    <%= JSON.pretty_generate(event_data.values) %>
  </td>
</tr>
