<header class="usa-header usa-header--extended" role="banner">
  <% if logout_msg %>
    <div class="clearfix">
      <div class="col-12 sm-col-6 mx-auto">
      <% if logout_msg == 'ok' %>
        <div class="h5 p1 bg-green white center">
          <span class="bold caps">You have been logged out.</span>
        </div>
      <% else %>
        <div class="h5 p1 bg-red white center">
          <span class="bold caps">Logout failed!</span>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>
  <% if login_msg %>
    <div class="clearfix">
      <div class="col-12 sm-col-6 mx-auto">
        <div class="h5 p1 bg-green white center">
          <span class="bold caps">Login was a Success!</span>
        </div>
      </div>
    </div>
  <% end %>
  <div class="usa-navbar">
    <% if access_denied %>
      <div class="usa-alert usa-alert--warning">
        <div class="usa-alert__body">
          <div class="usa-alert__text">You chose to exit before signing in</div>
        </div>
      </div>
    <% end %>
    <div class="usa-logo" id="extended-logo">
       <em class="usa-logo__text"><a href="/" title="Home" aria-label="Home">OpenID Connect Sinatra Example</a></em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
  <nav role="navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button class="usa-nav__close"><img src="/vendor/uswds/img/close.svg" alt="close"></button>
      <ul class="usa-nav__primary usa-accordion">
        <li class="usa-nav__primary-item">
          <button class="usa-accordion__button usa-nav__link  usa-current" aria-expanded="false" aria-controls="extended-nav-section-one"><span>Our process</span></button>
          <ul id="extended-nav-section-one" class="usa-nav__submenu">
            <li class="usa-nav__submenu-item">
               <a href="#">Navigation link</a>
            </li>
            <li class="usa-nav__submenu-item">
               <a href="#">Navigation link</a>
            </li>
            <li class="usa-nav__submenu-item">
               <a href="#">Navigation link</a>
            </li>
          </ul>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="javascript:void(0)"><span>Explore</span></a>
        </li>
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link" href="javascript:void(0)"><span>News</span></a>
        </li>
      </ul>
      <% if user_email %>
        <div class="usa-nav__secondary">
          <div class="fright"><%= user_email %></div>
          <div class="sign-in-wrap">
            <a class="usa-button usa-button--outline sign-in-bttn" href="/handle-logout">
              <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor" d="M416 448h-84c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h84c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96zm-47-201L201 79c-15-15-41-4.5-41 17v96H24c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24h136v96c0 21.5 26 32 41 17l168-168c9.3-9.4 9.3-24.6 0-34z"></path>
              </svg>
              Log out
            </a>
          </div>
        </div>
      <% else %>
        <form action="/auth/request">
          <div class="usa-nav__secondary">
            <div class="sign-in-wrap clearfix">
              <button type="submit" class="usa-button usa-button--outline sign-in-bttn float-right">
                <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor" d="M416 448h-84c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h84c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96zm-47-201L201 79c-15-15-41-4.5-41 17v96H24c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24h136v96c0 21.5 26 32 41 17l168-168c9.3-9.4 9.3-24.6 0-34z"></path>
                </svg>
                Sign in
              </button>
            </div>
            <div class="clearfix">
              <details class="details-popup display-inline-block float-right" open>
                <summary class="float-right">Options</summary>

                <label class="usa-label" for="aal">
                  Authentication Assurance Level (AAL)
                </label>
                <select name="aal" id="aal" class="usa-select">
                  <% [
                       ['', 'Default'],
                       ['2', 'AAL2'],
                       ['2-phishing_resistant', 'Phishing-resistant AAL2'],
                       ['2-hspd12', 'HSPD12 required'],
                     ].each do |value, label| %>
                    <option value="<%= value %>" <%= 'selected' if aal == value %> >
                      <%= label %>
                    </option>
                  <% end %>
                </select>

                <label class="usa-label" for="ial">
                  Level of Service
                </label>
                <select name="ial" id="ial" class="usa-select">
                  <% ial_select_options.each do |value, label| %>
                    <option value="<%= value %>" <%= 'selected' if ial == value %> >
                      <%= label %>
                    </option>
                  <% end %>
                </select>

                <hr/>
                <div class="usa-checkbox">
                  <input class="usa-checkbox__input"
                         id="check-simulate_csp"
                         type="checkbox"
                         name="simulate_csp"
                         value="true"
                  />
                  <label class="usa-checkbox__label" for="check-simulate_csp">
                    Simulate CSP Error
                  </label>
                </div>
              </details>
            </div>
          </div>
        </form>
      <% end %>
    </div>
  </nav>
</header>
