<a class="usa-skipnav" href="#main-content">Skip to main content</a>
 <div class="padding-2 bg-accent-warm text-base-lightest font-mono-xs text-center">
  TEST Do not use real personal information (demo purposes only) TEST
</div>
<div class="padding-2 bg-primary-darker text-base-lightest font-mono-xs text-center">
  <img class="width-2" aria-hidden="true" src="vendor/identity-design-system/assets/img/us_flag_small.png" alt="U.S. flag">
  A DEMO website of the United States government
</div>
<div class="usa-overlay"></div>
<%== erb :header, locals: { user_email:, aal:, ial: } %>
<main id="main-content">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <%== erb :alerts, locals: { logout_msg:, login_msg:, access_denied: } %>
    <% unless userinfo %>
      <%== erb :auth_options, locals: { aal:, ial: } %>
    <% end %>
    </div>
  </div>
  <section aria-label="User info" class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-4"></div>
    </div>
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-8">
        <% if userinfo %>
          <div class="p2 clearfix bg-white fg-black">
            <span>Received user info:</span>
            <ul>
              <% userinfo.each_pair do |key, val| %>
                <li>
                  <% val = maybe_redact_ssn(val) if key.to_s == 'social_security_number' %>
                  <code><%= key.inspect %>: <%= val.inspect %></code>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <section class="usa-graphic-list usa-section usa-section--dark">
    <div class="grid-container">
      <div class="usa-graphic-list__row grid-row grid-gap">
        <div class="usa-media-block tablet:grid-col">
          <div class="usa-media-block__body">
            <h3 class="usa-graphic-list__heading">Create a plan for success</h3>
            <p>We offer educational articles that outline key concepts and highlight services designed to fill the gaps in your planning.</p>
          </div>
        </div>
        <div class="usa-media-block tablet:grid-col">
          <div class="usa-media-block__body">
            <h3 class="usa-graphic-list__heading">Evaluate your current and future needs</h3>
            <p>On our website, you'll find valuable information for evaluating your current situation and progress toward your goals.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="usa-section">
    <div class="grid-container">
      <h2 class="font-heading-xl margin-y-0">Come back often</h2>
      <p class="usa-intro">We hope you take advantage of this resource and visit us often. Be sure to add our site to your list of "favorites" in your Internet browser. We frequently update our information, and we wouldn't want you to miss any developments.</p>
      <a class="usa-button usa-button--big" href="#">New developments</a>
    </div>
  </section>
</main>
<footer class="usa-footer" role="contentinfo">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <nav class="usa-footer__nav">
      <ul class="add-list-reset grid-row grid-gap">
        <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="javascript:void(0);">Our process</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="javascript:void(0);">Explore</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="javascript:void(0);">News</a>
        </li>
        <li class="mobile-lg:grid-col-4 desktop:grid-col-2 usa-footer__primary-content">
          <a class="usa-footer__primary-link" href="javascript:void(0);">Get help</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            <img src="/assets/img/GitHub-Mark-120px-plus.png" alt="GitHub Logo" title="GitHub Logo" width="60">
          </div>
          <div class="mobile-lg:grid-col-auto">
            <p class="usa-footer__logo-heading">
              <a href="https://github.com/18F/identity-oidc-sinatra">Get the Source Code</a>
            </p>
          </div>
        </div>
        <div class="usa-footer__contact-links mobile-lg:grid-col-6">
          <div class="usa-footer__social-links grid-row grid-gap-1">
            <div class="grid-col-auto">
              <a class="usa-social-link" href="javascript:void(0);">
                <img src="/vendor/uswds/img/usa-icons/facebook.svg" alt="Facebook" class="usa-social-link__icon">
              </a>
            </div>
            <div class="grid-col-auto">
              <a class="usa-social-link" href="javascript:void(0);">
                <img src="/vendor/uswds/img/usa-icons/twitter.svg" alt="Twitter" class="usa-social-link__icon">
              </a>
            </div>
            <div class="grid-col-auto">
              <a class="usa-social-link" href="javascript:void(0);">
                <img src="/vendor/uswds/img/usa-icons/youtube.svg" alt="YouTube" class="usa-social-link__icon">
              </a>
            </div>
            <div class="grid-col-auto">
              <a class="usa-social-link" href="javascript:void(0);">
                <img src="/vendor/uswds/img/usa-icons/rss_feed.svg" alt="RSS" class="usa-social-link__icon">
              </a>
            </div>
          </div>
          <h3 class="usa-footer__contact-heading">Agency Contact Center</h3>
          <address class="usa-footer__address">
            <div class="usa-footer__contact-info grid-row grid-gap">
              <div class="grid-col-auto">
                <a href="tel:1-800-555-5555">(800) CALL-GOVT</a>
              </div>
              <div class="grid-col-auto">
                <a href="mailto:info@agency.gov">info@agency.gov</a>
              </div>
            </div>
          </address>
        </div>
      </div>
    </div>
  </div>
</footer>
