<div class="p2 bg-green white clearfix">
  <% if userinfo %>
    <div class="right sm-show">
      <a href="<%= logout_uri %>" class="btn p0 h6 white">Log out</a>
    </div>
  <% end %>
  <span class="bold">Success!</span>
  <% if userinfo %>
    <span>Email: <strong><%= userinfo[:email] %></strong></span>
    <span class="ml1 mr1">|</span>
    <% case userinfo.fetch('acr')
       when 'http://idmanagement.gov/ns/assurance/loa/3' %>
      <span>Login type: <strong>LOA3</strong></span>
      <span class="ml1 mr1">|</span>
      <span>SSN: <strong><%= maybe_redact_ssn(userinfo[:social_security_number]) %></strong></span>
    <% when 'http://idmanagement.gov/ns/assurance/loa/1' %>
      <span>Login type: <strong>LOA1</strong></span>
    <% else %>
      <span>Login type: <strong>Unexpected ACR: <%= userinfo.fetch('acr') %></strong></span>
    <% end %>

  <% end %>
</div>

<div class="p2 clearfix bg-white">
  <span>Received user info:</span>
  <ul>
  <% userinfo.each_pair do |key, val| %>
    <% val = maybe_redact_ssn(val) if key.to_s == 'social_security_number' %>
    <li><%= key.inspect %>: <%= val.inspect %></li>
  <% end %>
  </ul>
</div>
